<div class="user-container">
    <div class="page-wrapper">
        <section class="page-header">
            <div class="header-info">
                <div class="header-icon">
                    🤦💀🫆
                </div>
                <div>
                    <h1>Gestion de Usuarios</h1>
                    <P>
                        Administrador De Usuarios Registrados
                        En El Sistema
                    </P>
                </div>
            </div>
        </section>
        <div class="content">
            <section class="form-panel">
                <div class="panel-title">
                    <span>
                        📝
                    </span>
                    <h2> Registrar Usuario</h2>
                </div>
                <div *ngIf="mensaje"
                    class="alert"
                    [class.success]="tipoMensaje==='success'"
                    [class.error]="tipoMensaje ==='error'">
                   {{mensaje}}
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" placeholder="Ingrese el nombre" [(ngModel)]="nombre">
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" placeholder="Ingrese apellido" [(ngModel)]="apellido">
                </div>
                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" placeholder="Correo@sena.edu.co" [(ngModel)]="correo">
                </div>
                <div class="form-group">
                    <label>Rol</label>
                    <select [(ngModel)]="rol">
                        <option>Administrador</option>
                        <option>Instructor</option>
                        <option>Aprendiz</option>
                    </select>
                </div>
                <div class="checkbox-group">
                    <label>
                        <input type="checkbox" [(ngModel)]="estado">
                        Usuario Activo
                    </label>
                </div>

                <div class="buttons">
                    <button class="btn-primary" (click)="registrarUsuario()">
                        {{idEditar==null?'Registro':'Actualizar'}}
                    </button>
                    <button class="btn-secundary" (click)="limpiarFormulario()">Limpiar</button>
                </div>
                </section>
                <section class="table-panel">
                    <div class="panel-title">
                        <span>📓</span>
                        <h2>Usuarios Registrados</h2>
                        <p class="table-info">
                            TOTAL DE USUARIOS:
                             <strong>{{obtenerTotalUsuarios()}}</strong>
                        </p>
                    </div>
                    <div class="toolbar">
                        <input
                        type="text"
                        placeholder="Buscar ususario..."
                        [(ngModel)]="textoBusqueda"
                        (input)="buscarUsuarios()">
                    <select 
                    [(ngModel)]="filtroRol"
                    (change)="buscarUsuarios()">
                    <option value="">todos los roles</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Instructor">Instructor</option>
                    <option value="Aprendiz">Aprendiz</option>
                    </select>
                </div>
                <p class="table-info">
                    Usuarios Encontrados: 
                    <strong>{{usuariosFiltrados.length}}</strong>
                </p>
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="sortable" (click)="ordenar('id')">
                                        Id {{obtenerIconoOrden('id')}}
                                    </th>
                                    <th class="sortable" (click)="ordenar('nombre')">
                                        Nombre {{obtenerIconoOrden('nombre')}}
                                    </th>
                                    <th class="sortable" (click)="ordenar('apellido')">
                                        Apellido {{obtenerIconoOrden('apellido')}}
                                    </th>
                                    <th class="sortable" (click)="ordenar('correo')">
                                        Correo {{obtenerIconoOrden('correo')}}
                                    </th>
                                    <th class="sortable" (click)="ordenar('rol')">
                                        Rol {{obtenerIconoOrden('rol')}}
                                    </th>
                                    <th class="sortable" (click)="ordenar('estado')">
                                        Estado {{obtenerIconoOrden('estado')}}
                                    </th>
                                    <th>
                                        Acciones 
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarioPaginados">
                                    <td>{{usuario.id}}</td>
                                    <td>{{usuario.nombre}}</td>
                                    <td>{{usuario.apellido}}</td>
                                    <td>{{usuario.correo}}</td>
                                    <td>{{usuario.rol}}</td>
                                    <td>
                                        <span class="status-badge" [class.active]="usuario.estado"
                                            [class.inactive]="!usuario.estado">
                                            {{usuario.estado?'Activo':'Inactivo'}}
                                        </span>
                                    </td>
                                    <td>
                                        <button 
                                        class="btn-edit" 
                                        (click)="editarUsuario(usuario)">
                                        ✏️
                                        </button>
                                        <button class="btn-delete" 
                                        (click)="eliminarUsuario(usuario.id)">
                                        🗑️
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-info">
                            mostrando {{usuarioPaginados.length}} de
                            {{usuariosFiltrados.length}} Usuarios
                        </div>

                        <div class="pagination">
                            <button (click)="anteriorPagina()"
                             [disabled]="paginaActual==1">
                             ⬅️anterior
                            </button>
                            <button *ngFor= "let pagina of obtenerPaginas()"
                        (click)= "cambiarPagina(pagina)"
                        [class.active-page]="pagina==paginaActual">
                        {{pagina}}
                    </button>
                    <button (click)="siguientePagina()"
                    [disabled]="paginaActual==obtenerTotalPaginas()">
                    siguiente ➡️
                    </button>
                        </div>
                    </div>
                </section>
            

            <footer class="pge-footer">
                SISTEMA ADSO - PANELES DE ADMINISTRACIÓN
            </footer>
        </div>
    </div>
</div>