<div class="layout-container">
    <header class="layout-header">
        <!-- Se carga el componente HEADER. -->
        <app-header></app-header>
    </header>
    <main class="layout-main">
        <aside class="layout-sidebar">
            <!-- Posteriormente se carga el componente sidebar component -->
            <app-sidebar></app-sidebar>
        </aside>
        <section class="layout-content">
            <!-- Contenido dinámico. Es decir, que el contenido cambia entre Dashboard, Usuarios, Roles, etc. -->
            <router-outlet></router-outlet>
        </section>
    </main>
    <footer class="layout-footer">
        <!-- Componente de footer. -->
        <app-footer></app-footer>
    </footer>
</div>