<div class="layut-container">
    <header class="layout-header">
        <!--posterior mente s carga el conponente header componet-->
        header
    </header>
    <main class="layout-main">
        <aside class="layout-sidebar">
            asidebar
        </aside>
        <!--contenido dinamico-->
        <section class="layout-content">

            <!--aqui va los conponentes de dashboart, usuario, roles, etec ..-->

            Router Outlet
        </section>
    </main>
    <footer class="layout-footer">
        <!--conponente de footer-->
        footer
    </footer>
</div>